.container {
  background-color: #0258c1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.containerDark {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logoImg {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.logo {
  font-size: x-large;
  color: white;
  display: flex;
  padding: 10px;
  margin: 5px 10px;
}
.button-block {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  align-items: center;
  color: white;
  grid-gap: 10px;
}

.button-currency {
  padding: 10px;
  padding-left: 15px;
  width: 60px;
  border-radius: 50px;
  height: 40px;
  border: 1px solid;
}
.button-custom {
  padding: 10px;
  border-radius: 60px;
  height: 40px;
  border: 1px solid;
  width: 40px;
}
.banner {
  color: white;
  font-size: 44px;
  font-weight: 700;
  font-family: Stapel, -apple-system, BlinkMacSystemFont, Inter, Roboto,
    Helvetica, Arial, sans-serif;
  text-size-adjust: 100%;
}
.header-title {
  text-align: center;
  width: 100%;
  padding: 90px 20px 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.minibanner {
  margin: 0;
  line-height: 1.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  display: block;
  color: white;
}

.active-hotel {
  padding: 20px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}

.active-hotel span {
  border: white 1px solid;
  border-radius: 40px;
  padding: 10px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px 5px;
  color: white;
  width: 100%;
}
.origin {
  border: 2px solid white;
  height: 50px;
  width: 200px;
  line-height: 1.75;
  border-radius: 5px;
  background-color: white;
  color: black;
}
.origin input {
  border: none;
  border-color: transparent;
}
.checkin {
  border: 2px soli white;
  height: 50px;
  width: 200px;
  line-height: 1.75;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.dates {
  border: 2px solid white;
  height: 50px;
  width: 200px;
  line-height: 1.75;
  border-radius: 5px;
  background-color: white;
  color: black;
}
.passengers {
  border: 2px solid white;
  height: 50px;
  width: 200px;
  line-height: 1.75;
  border-radius: 5px;
  background-color: white;
  color: black;
}
.guest {
  border: 2px solid white;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  background-color: white;
  color: black;
}
.submit {
  justify-content: center;
  border: 2px solid white;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  background-color: orange;
  color: white;
  font-size: x-large;
}
.multisearch {
  padding-top: 20px;
  color: white;
  display: flex;
}
.option {
  height: 50px;
  border-radius: 5px;
}
.selectContainer {
  background-color: white;
  height: 50px;
  border-radius: 5px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.select {
  width: 150px;
  background-color: white;
  display: flex;
}
